body{
    margin: 0;
}
header{
    background-color: black;
    height: 92.5px;
}
header img{
    vertical-align: middle;
    margin: 8px 0px 10px 62px;
}
div.logo{
    display: inline-block;
}
div.navLinks{
    margin-left: 275px;
    display: inline-block;
    text-align: right;
}
div.navLinks a{
    color: white;
    margin-right: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
span.first{
    border-radius: 35px;
    border: 1px solid #fff;
    padding: 17.5px 16.5px 17.5px 16.5px;
    font-size: 14px;   
}
span.second{
    background-color: #ed1c24;
    border: 1px solid #ed1c24;
    border-radius: 35px;
    padding: 17.5px 12px 17.5px 16.5px;
    font-size: 14px;   
    cursor: pointer;
}
button.white img{
    width: 17px;
    margin: 0px !important;
    cursor: pointer;
}
button.white{
    background-color: white;
    border: 1px solid white;
    padding: 3px 5px 3px 3px;
    border-radius: 24px;
    width: 30px;
    cursor: pointer;
    height: 28px;
}
a.neigh{
    margin-right: 5px !important;
}
a.spa{
    margin-right: 10px !important;
}
div.slider img{
    object-fit: cover;
    width: 100%;
}
img.mySlides{
    object-fit: cover;
    width: 100%; 
}
div.main{
    padding-top: 100px;
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 180px;
}
div.main h2{
    font-family: "Sarabun", sans-serif;
    margin-top: 0;
    font-size: 40px;
    font-weight: lighter !important;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
div.main p{
    color: white;
    font-family: "Sarabun", sans-serif;
}
span.newfont{
    font-family: cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}
div.sequence{
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    margin-right: 30px;
    height: 130px;
    background-color: white;
    border-radius: 3px;
    padding: 26px 19px 0px 19px;
    border: 1px solid white;
}
div.sequence img{
    width: 200px;
    height: 100px;
}
div.main p{
    color: rgba(255, 255, 255, 0.7);
}
div.box-one,div.box-two,div.box-three{
    display: inline-block;
    width: 220px;
    margin-right: 30px;
    margin-top: 30px;
    height: 110px;
    padding: 30px 14px 0 14px;
    border-radius: 3px;
    background-color: white;
}
button.btn{
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: transparent;
    margin: auto;
    cursor: pointer;
    margin-top: 24px;
}
div.box-one img,div.box-two img,div.box-three img{
    width: 200px;
    height: 80px;
    margin-bottom: 50px;
}